.center {
  display: flex;
  justify-content: center;
}
.text {
  position: absolute;
  top: 200px;
}
.App {
  text-align: center;
  justify-content: center;
}
.particles {
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}